* {
  margin: 0px;
}

h1 {
  margin-left: 100px;
  height: 100px;
  line-height: 100px;
}

.box {
  margin-top: 100px;
  height: 50px;
  width: calc(100% - 250px);
  font-size: 30px;
  line-height: 50px;
  margin-left: 100px;
  padding: 25px;
  background-color: blanchedalmond;
}

.box::after,
.box::before {
  content: "";
  position: absolute;
}

.box::after {
  border-left: 1px solid black;
  border-right: 1px solid black;
  top: 150px;
  left: 99px;
  height: 200px;
  width: calc(100% - 200px);
}

.box::before {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 100px;
  width: calc(100% - 100px);
  left: 50px;
  top: 199px;
}