#tanos {
    width: 250px;
    height: 400px;
}

.man {
    width: 200px;
    height: 200px;
}

#master {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: repeat(5, 1fr);
}

#tanos:hover ~ div :nth-child(odd) {
    opacity: 0;
}
