img {
  position: relative;
  text-align: left;
  height: 182px;
}

.marvel {
  display: inline-block;
  width: 250px;
  height: 120px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px 5px 5px 5px;
}

.together {
  display: grid;
  grid-template-columns: 1fr auto;
}

.marvel_img {
  bottom: 42px;
}

#spider_img {
  bottom: 20px;
}

.text {
  text-align: right;
  color: white;
  font-size: 12px;
  font-family: Verdana;
}  

.realname {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.5);
}  

#captain {
  background-image: linear-gradient(to top, #B06AB3, #4568DC);
}

#iron {
  background-image: linear-gradient(to right, #b31217, #e52d27);
}

#widow {
  background-image: linear-gradient(to right, #000000, #61045F);
}

#spider {
  background-image: linear-gradient(to top, #000000, #e52d27);
}