.master {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 5px;
}

.col:hover {
  box-shadow: 0px 0px 3px 0px black;
}

.row2 {
  text-align: center;
}

.row3 {
  text-align: center;
}

.row1 {
  padding: 10px;
  text-align: center;
  background-color: teal;
}
